@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Salsa", "Calistoga", cursive, serif;
  /* animation: gradientAnimation 10s infinite alternate;
  background: linear-gradient(45deg, #901169, rgb(51, 0, 131));
  background-size: 100%;
  background-repeat: no-repeat; */
  background: rgb(198, 9, 255);
  overflow: hidden;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgba(26, 0, 33, 0.688);
  text-decoration: dotted underline;
  background: rgba(2, 150, 255, 0.205);
}

::selection {
  color: rgba(21, 200, 224, 0.83);
  text-decoration: rgb(253, 157, 14) dotted underline;
  background: rgba(12, 31, 2, 0.115);
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #901169, rgb(51, 0, 131));
  }
  33% {
    background: linear-gradient(45deg, #62008b, rgb(97, 0, 116));
  }
  66% {
    background: linear-gradient(45deg, #330083, rgb(144, 17, 105));
  }
  100% {
    background: linear-gradient(45deg, rgb(144, 17, 105), rgb(51, 0, 131));
  }
}
